body, html{
    height: 100%;
    margin: 0;
    background-color: #6F4E37;
    background-image: url(./img/bg5.jpg);
}



.container{
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    margin-top: -20px;
}

.titulo{
    font-family: lato;
}

span{
    font-family: raleway;
}

.esquerda{
    margin-top: 50px;
    margin-left: 50px;
    width: 50%;
    font-size: 16px;
    
    
}

.esquerda h1{
    text-align: center;
}

.esquerda span{
    width: 10px;
    text-align: justify;
    padding: 13px;
    color: auto;
    
}

.esquerda img{
    margin-top: 20px;
    width: 615px;
    height: 400px;
}



.direita{
    margin-top: 45px;
    margin-left: 20px;
    width: 50%;
    text-align: justify;
}

.direita h1{
    text-align: center;
}


.sp-direita{
    text-align: center;
    margin: 25px;
}

.form{
    text-align: center;
    margin: 25px;
    font-family: raleway;
}

#email{
    border-radius: 5px;
    width: 300px;
    margin: 5px;
    height: 30px;
    font-size: 20px;
}

#name{
    width: 300px;
    border-radius: 5px;
    margin: 5px;
    height: 30px;
    font-size: 18px;
}

#telefone{
    width: 200px;
    border-radius: 5px;
    margin: 5px;
    height: 30px;
    font-size: 20px;
}

#lb-name{
    padding-right: 10px;
   
}

.check{
    display: inline-block;
    text-align: center;
}

.rec_email{
    margin-left: -28px;
}

.but{
    text-align: center;
    padding: 10px;
    background-color: bisque;
    margin: 20px;

}

footer{
    text-align: center;
    color: white;
    font-size: small;
}