{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/Index.css' %}">



    <title>Index</title>
</head>
<body>
    <div class='container'>
        <div class='esquerda'>
            <h1>Aroma & Charme Café</h1>
            <div>
                <span>
                    Descubra o encanto do café no Aroma & Charme. 
                    Delicie-se com nossos cafés artesanais e mergulhe em uma experiência única. 
                    Cadastre-se agora e aproveite ofertas exclusivas, 
                    descontos especiais e um universo de sabores que despertarão seus sentidos. 
                    Sinta o aroma, viva o charme, e permita-se a uma jornada sensorial conosco.
                </span>
            </div>
            
            <img src="../static/img/cafe-gourmet.jpg">
        </div>

        <div class='direita'>
            <h1>teste2</h1>
        </div>


    </div>
    
</body>
</html>